<%= show_index_title_conditionally %>
<ol>
  <% @clubs.each do |c|%>
          <%= image_tag("no_logo.png", size: "200x148", class: "card-img-top", alt: "No logo icon") %>
          <p class="card-text"> <%= c.summary %> </p>
          <small class="text-muted">Created:  <%= c.date_founded.strftime("%d %B %Y") %> </small> <br>
          <small class="text-muted">By: <%= link_to c.user.name, user_path(c.user_id) %> </small> 
  <%end%>
</ol>
<br>
<br>
<br>
<h6>DEVELOPER TO DO:</h6>
<p> Add links to join clubs current user isn't a part of or did not created
</p>
<p>
  Add links/buttons to leave club current user is a part of
</p>
