<h1>Create a new Club</h1>
<p> <%= flash[:error] %> </p>

<%= form_for(@club) do |f| %>
  Club Name:  <%= f.text_field :name%>
  Description of Club:  <%= f.text_field :description%>
  Date the club was first created: <%= f.date_field :date_founded%>
  
  
  <%= f.submit "Create Club"%>
<% end %>

<br>
<br>
<br>
<h6>TO DO:</h6>
<p>
</p>
<p> Make page look pretty</p>
