<h1> <%= @club.name %> Club  </h1>
<% if !@club_users.exists?(user_id: current_user.id) %>
  <%= link_to "Join This club", new_club_club_user_path(@club.id), class:"btn btn-primary" if session[:user_id].present? %>
<%else%>
  <%= link_to 'Leave this club', user_club_user_path(current_user.id), class:"btn btn-secondary" , method: :delete, data: { confirm: 'Are you sure you want to leave this club?' } %>
<%end%>
<h2>Bio</h2>

<b>Description</b>
<p><%=@club.description%></p>

<b>Date Created:</b>
<p><%=@club.date_founded%></p>

<br>
<br>
<br>
<h6>TO DO:</h6>


<p> Add linkes to join clubs current user isn't a part of or did not created
</p>
<p>
 Add links/buttons to leave club if current user is a member
</p>

<p> Show current club  members (Link to each user's show page) </p>
<p> indicate who is creator vs admin vs regular a user </p>
<p>add social media links (as database column) and  display  in view</p>
<p> Make page look pretty </p>
