<h1> <%= @club.name %> Club  </h1>
<% if !@club_users.exists?(user_id: current_user.id) %>
  <%= link_to "Join This club", new_club_club_user_path(@club.id), class:"btn btn-primary" if session[:user_id].present? %>
<%else%>
  <%= link_to 'Leave this club', user_club_user_path(current_user.id), class:"btn btn-secondary" , method: :delete, data: { confirm: 'Are you sure you want to leave this club?' } %>
<%end%>
<% if @current_user.id  == @club.user_id || (@club_users.exists?(user_id: current_user.id) && @club_user_user.admin) %>
  <%= link_to "Club Edit Page", edit_club_path(@club.id) if session[:user_id].present? %>
<%end%>
<h2>Bio</h2>
<b>Description</b>
<p> <%= @club.description %> </p>
<b>Date Created:</b>
<p> <%= @club.date_founded.strftime("%D") %> </p>
<b>Creatd By:</b>
<p> <%= link_to @club.user.name, user_path(@club.user.id) %> </p>
<%if @club_users.length > 0 %>
  <h3>Current Club Members:</h3>
  <ul>
    <% @club_users.each do |cu|%>
      <%if cu.admin%>
        <li><%= link_to cu.user.name, user_path(cu.user.id)%> <span>Admin.</span> </li>
      <%else%>
        <li><%= link_to cu.user.name, user_path(cu.user.id)%> <span>Regular Member.</span> </li>
      <%end%>
    <% end %>
  </ul>
<%else%>
  <h3>There are currently no members in this club</h3>
<% end %>
<br>
<br>
<br>
<h6>TO DO:</h6>


<p> Add linkes to join clubs current user isn't a part of or did not created
</p>
<p>
 Add links/buttons to leave club if current user is a member
</p>

<p> Show current club  members (Link to each user's show page) </p>
<p> indicate who is creator vs admin vs regular a user </p>
<p>add social media links (as database column) and  display  in view</p>
<p> Make page look pretty </p>
