<h1> <%= @club.name %>  </h1>
<br>
<% if !@club_users.exists?(user_id: current_user.id) %>
  <%= link_to "Join This club", new_club_club_user_path(@club.id), class:"btn btn-primary" if session[:user_id].present? %>
  <br>
<%else%>
  <%= button_to 'Leave this club', user_club_user_path(current_user.id), class:"btn btn-secondary" , method: 'delete', data: { confirm: 'Are you sure you want to leave this club?' } %>
<%end%>
<br>
<% if @current_user.id  == @club.user_id || (@club_users.exists?(user_id: current_user.id) && @club_user_user.admin) %>
  <%= link_to "Club Edit Page", edit_club_path(@club.id), class:"btn btn-primary"if session[:user_id].present? %>
<%end%>
<br>
<br>
<% if @club.logo.attached? %>
  <%= image_tag @club.logo, size: "150x150", alt: "Club Logo" %>
<%else%>
  <%= image_tag("no_logo.png", size: "200x148", alt: "No logo icon") %>
<% end %>
<br>
<br>
<b>Summary</b>
<p> <%= @club.summary %> </p>
<b>Description</b>
<p> <%= @club.description %> </p>
<b>Date Created:</b>
<p> <%= @club.date_founded.strftime("%d %B %Y") %> </p>
<b>Creatd By:</b>
<p> <%= link_to @club.user.name, user_path(@club.user.id) %> <small class="text-muted"> Contact: <%=  @club.user.email %> </small></p>
<%if @club_users.length > 0 %>
  <h3>Current Club Admins:</h3>
  <ul>
    <% @club_users.each do |cu|%>
      <%if cu.admin%>
        <li><%= link_to cu.user.name, user_path(cu.user.id)%> <small class="text-muted">Admin.</small> <br>
        </li>
      <%end%>
    <% end %>
  </ul>
  <%= link_to "See all #{@club_users.count} Member(s) and admins of this club!", club_club_users_path(@club.id) %>
<%else%>
  <h3>There are currently no members in this club</h3>
<% end %>
<br>
<br>
<% if !@club_users.exists?(user_id: current_user.id) %>
  <%= link_to "Join This club", new_club_club_user_path(@club.id), class:"btn btn-primary" if session[:user_id].present? %>
<%else%>
  <%= button_to 'Leave this club', user_club_user_path(current_user.id), class:"btn btn-secondary" , method: :delete, data: { confirm: 'Are you sure you want to leave this club?' } %>
<%end%>
<br>
<!-- 
<h6>DEVELOPER TO DO:</h6>
</p>
<p>add social media links (as database column) and  display  in view</p>
<p> Make page look pretty </p>
-->
