<h1>Sign Up</h1>

<%= form_for(@user) do |f| %>
  Name:  <%= f.text_field :name%>
  Email:  <%= f.email_field :email%>
  Password:  <%= f.password_field :password%>
  
  <%= f.submit "Signup"%>
<% end %>


<br>
<br>
<br>
<h6>TO DO:</h6>

<p> Make page look pretty </p>
<p>  </p>