<!DOCTYPE html>
<html>
  <head>
    <title>ClubRegistration</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render partial: 'layouts/nav' %> <br> <br>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-md-6">
          <%= yield %>
        <br>
        <br>
        <br>
        <span> <%= "Currently Logged in: "+ current_user.name if logged_in? %> </span>
        <br>
        <br>
        <br>
        </div>
      </div>
    </div>
  </body>
</html>
